@import '../../sass/variables.scss';

.project-section {
  height: auto;
  .project-header {
    font-size: 48px;
    color: $header-secondary;
    font-family: 'Silkscreen', cursive;
    text-align: start;
    margin: 1.5rem;
    margin-bottom: 3rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
    width: 100%;
    max-width: 1000px;

    .project-card {
      .card-img {
        width: 350px;
        height: 250px;
        object-fit: cover;
        border-radius: 30px;
      }
      .card-description,
      .card-header {
        text-align: start;
        padding-inline: 3rem;
        margin-top: 0.5rem;
      }
    }
  }
}

@include tablet {
  .project-header {
    padding-inline: 2rem;
  }
  .project-container {
    padding: 2rem !important;
    grid-template-columns: repeat(3, 1fr) !important;
    .project-card {
      .card-img {
        width: 100% !important;
      }
      .card-description,
      .card-header {
        padding-inline: 0 !important;
      }
    }
  }
}

@include desktop {
  .project-header {
    padding-inline: 1rem;
  }
}
