@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Zilla+Slab:wght@300;600&display=swap');
@import 'variables.scss';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Zilla Slab', serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 50px;
  width: 100%;
  background-color: $bg-color;
}
