$header-color: #b7e4c7;
$header-secondary: #1b4332;
$bg-color: #000000;
$bg-secoundary: #d8f3dc;

$breakpoints: (
  'm': 375px,
  'tablet': 760px,
  'desktop': 1024px,
);

@mixin m {
  @media (max-width: map-get($breakpoints, 'm')) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: map-get($breakpoints, 'tablet')) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, 'desktop')) {
    @content;
  }
}

.btn {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: $header-color;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 3rem;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
