@import '../../sass/variables.scss';

.owerview-header {
  background-color: $bg-color;
  color: white;
  padding: 5rem 0;
  width: 100%;
  color: $header-color;
  h1 {
    font-size: 22px;
    font-family: 'Silkscreen', cursive;
    border-right: 5px solid;
    width: 200px;
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    animation: typing 4s steps(12), cursor 0.5s step-end infinite alternate;
  }
  p {
    padding-inline: 2rem;
  }
}

.project-owerview {
  .project-image {
    width: 100%;
  }
}
