@import '../../sass/variables.scss';

.about-section {
  width: 100%;
  background-color: #ffffff;
  padding: 3rem 0;

  .about-container {
    h2.about-heading {
      font-size: 48px;
      color: $header-secondary;
      font-family: 'Silkscreen', cursive;
      text-align: start;
      margin: 1.5rem;
    }

    .about-wrapper {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .about-paragraph {
        text-align: start;
        font-size: 20px;
        line-height: 1.5em;
        margin: 1.5rem;
      }
    }
  }
}

@include tablet {
  .about-section {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    justify-items: center;
    .about-container {
      padding-inline: 2rem;
    }
    .skills-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@include desktop {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
    text-align: start;
    max-width: 1300px;
    margin: 0 auto;

    h2.about-heading {
      margin: 0 !important;
    }

    .about-wrapper {
      max-width: 600px;

      p.about-paragraph {
        margin: 0 !important;
      }
    }
  }
}
