@import '../../sass/variables.scss';

section {
  background-color: #d8f3dc;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  text-align: start;

  h2 {
    font-size: 48px;
    color: $header-secondary;
    font-family: 'Silkscreen', cursive;
  }
}

@include tablet {
  section {
    width: 100%;
    padding-inline: 2rem;
    p {
      width: 490px;
      line-height: 1.5em;
    }
  }
}
