@import '../../sass/variables.scss';

.hero-banner {
  width: 100%;
  background-color: $bg-color;

  .hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: $header-color;
    padding-top: 1rem;

    .hero-date {
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 1.4em;
    }

    .hero-title {
      font-size: 22px;
      font-family: 'Silkscreen', cursive;
      border-right: 5px solid;
      width: 85%;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 4s steps(24), cursor 0.5s step-end infinite alternate;
    }

    .hero-description {
      font-size: 15px;
      text-align: center;
      line-height: 1.4em;
      padding-inline: 1rem;
      text-transform: uppercase;
      max-width: 600px;
    }

    .hero-button {
      text-transform: uppercase;
      padding: 10px 15px;
      background-color: $header-color;
      outline: none;
      border: none;
      border-radius: 8px;
      margin-bottom: 3rem;
      color: #000000;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .hero-figure {
    margin-bottom: 3rem;
    .hero-image {
      margin-bottom: 1rem;
      filter: grayscale(100%);
      border-radius: 10px;
      height: 300px;
      width: 350px;
      object-fit: cover;
    }
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@include tablet {
  .hero-banner {
    .hero-header {
      .hero-date {
        font-size: 20px;
        letter-spacing: 1.5rem;
      }
      .hero-title {
        font-size: 50px;
        width: 95%;
      }
      .hero-description {
        margin-inline: 5rem;
      }
    }

    .hero-figure {
      .hero-image {
        height: 600px;
        width: 710px;
      }
    }
  }
}

@include desktop {
  .hero-banner {
    .hero-header {
      .hero-date {
        font-size: 13px;
        letter-spacing: 3em;
        width: 100%;
      }
      .hero-title {
        font-size: 68px;
        width: 1000px;
      }
    }

    .hero-figure {
      .hero-image {
        height: 600px;
        width: 940px;
      }
    }
  }
}

@include m {
  .hero-banner {
    .hero-header {
      .hero-date {
        font-size: 9px;
        letter-spacing: 1.3em;
        text-transform: lowercase;
      }
      .hero-title {
        font-size: 21px;
      }
    }
  }
}
