@import '../../sass/variables.scss';

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: $header-color;
  padding-top: 1rem;

  span {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1.2em;
  }

  h1 {
    font-size: 24px;
    font-family: 'Silkscreen', cursive;
    border-right: 5px solid;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(9), cursor 0.5s step-end infinite alternate;
  }

  p {
    font-size: 15px;
    text-align: center;
    line-height: 1.4em;
    padding-inline: 1rem;
    text-transform: uppercase;
    max-width: 600px;
  }

  button {
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: $header-color;
    outline: none;
    border: none;
    border-radius: 10px;
  }
}
figure {
  margin-bottom: 3rem;
  img {
    margin-bottom: 1rem;
    filter: grayscale(100%);
    border-radius: 10px;
    height: 300px;
    width: 350px;
    object-fit: cover;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@include tablet {
  header {
    span {
      font-size: 20px;
      letter-spacing: 1.5rem;
    }
    h1 {
      font-size: 50px;
      width: 95%;
    }
    p {
      margin-inline: 5rem;
    }
  }

  figure {
    img {
      height: 600px;
      width: 710px;
    }
  }
}

@include desktop {
  header {
    span {
      font-size: 13px;
      letter-spacing: 3.5em;
      width: 100%;
    }
    h1 {
      font-size: 68px;
      width: 100%;
    }
  }

  figure img {
    height: 600px;
    width: 940px;
  }
}
